
//公共尾部
.com-footer{
	width:100%;
	overflow:hidden;
	display:flex;
    position:absolute;
    bottom:0.5rem;
	justify-content:space-around;
	margin-top:0.5rem;
	li{
		float:left;
		margin-lefr:0.2rem;
		font-size:0.28rem;
	}
}
